.unemployed-red {
  color: var(--unemployed-red);
}

.employee-green {
  color: var(--employee-green);
}

.house-green {
  color: var(--house-green);
}

.manager-purple {
  color: var(--manager-purple);
}

.owner-blue {
  color: var(--owner-blue);
}

.reduced-opacity {
  opacity: 0.35;
}

#die-roll-result {
  z-index: 1000;
  border-radius: 90px !important;
}

#die-roll-result span {
  padding: 2rem 2.5rem;
  font-size: 2.5rem;
}

.dice-variable-font {
  font-size: medium;
  text-transform: uppercase;
}

.dice-variable-sub-font {
  font-size: smaller;
  text-transform: lowercase;
}

.hoisted {
  margin-top: -14rem;
  height: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .dice-variable-font {
    font-size: 95%;
  }

  .btn-plus-sign {
    display: none;
  }
}