:root {
  /* root color variables */
  --bright-blue: #007bff;
  --light-grey-body: #fafafa;
  --white: white;
  --body-font: #666;
  --slate-gray: lightslategray;
  --silver: silver;
  --graphite: #506578;
  --trench-blue: #406885;
  --green-grey: #e0e1e2;
  --light-blue: #d0e9fe;
  --alice-blue: aliceblue;
  --chocolate: rgb(210, 105, 30);
  --page-bg: #f0f3f6;
  --unemployed-red: #db4c3f;
  --employee-green: mediumseagreen;
  --manager-purple: mediumorchid;
  --owner-blue: dodgerblue;
  --skyscraper-green: #d3d9d7;
  --house-green: green;
  --orange-realty: #f1592b;
  --dark-red-realty: #dc2c35;
  --light-green-realty: #8bc34a;
  --dark-green-realty: #3f9653;
  --light-purple-realty: #b257c2;
  --dark-purple-realty: #7e57c2;
  --light-blue-realty: #00aad4;
  --dark-blue-realty: #0072bb;
  --eap-green: #0c5460;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Figtree", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background: var(--page-bg);
  color: var(--graphite);
  font-size: 1.1rem;
  padding-bottom: 5rem;
}

header {
  background-color: var(--trench-blue);
}

header .img-fluid {
  max-height: 150px;
}

p,
li,
td,
tr {
  color: var(--body-font);
  font-size: 1.1rem !important;
  font-family: "Figtree", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

#homepage-nav li {
  font-size: 1.5rem !important;
}

.pointer {
  cursor: pointer;
}

.text-large {
  font-size: 1.25rem;
}

.text-larger {
  font-size: 1.5rem;
}

.alert-info {
  background: var(--green-grey);
  border-radius: 0.5em;
  border: none;
  box-shadow: none;
}

/* colors ------------------------------- */
.bg-red {
  background: var(--unemployed-red);
}

.bg-green {
  background: var(--employee-green);
}

.bg-alice-blue {
  background: var(--alice-blue);
}

.bg-purple {
  background: var(--manager-purple);
}

.bg-blue {
  background: var(--owner-blue);
}

.eap-green {
  color: var(--eap-green);
}

.chocolate {
  color: var(--chocolate);
}

.bright-blue {
  color: var(--bright-blue);
}

.trench-blue {
  color: var(--trench-blue);
}

.bg-trench-blue {
  background: var(--trench-blue);
}

.bg-green-grey {
  background: var(--green-grey);
}

.bg-light-blue {
  background: var(--light-blue) !important;
}

.unemployed-red {
  color: var(--unemployed-red) !important;
}

.employee-green {
  color: var(--employee-green) !important;
}

.manager-purple {
  color: var(--manager-purple) !important;
}

.owner-blue {
  color: var(--owner-blue) !important;
}

/* Realty ----------------------------------------- */
.orange-realty {
  color: var(--orange-realty);
}

.bg-orange-realty {
  background-color: var(--orange-realty);
}

.dark-red-realty {
  color: var(--dark-red-realty);
}

.bg-dark-red-realty {
  background-color: var(--dark-red-realty);
}

.light-green-realty {
  color: var(--light-green-realty);
}

.bg-light-green-realty {
  background-color: var(--light-green-realty);
}

.dark-green-realty {
  color: var(--dark-green-realty);
}

.bg-dark-green-realty {
  background-color: var(--dark-green-realty);
}

.light-purple-realty {
  color: var(--light-purple-realty);
}

.bg-light-purple-realty {
  background-color: var(--light-purple-realty);
}

.dark-purple-realty {
  color: var(--dark-purple-realty);
}

.bg-dark-purple-realty {
  background-color: var(--dark-purple-realty);
}

.light-blue-realty {
  color: var(--light-blue-realty);
}

.bg-light-blue-realty {
  background-color: var(--light-blue-realty);
}

.dark-blue-realty {
  color: var(--dark-blue-realty);
}

.bg-dark-blue-realty {
  background-color: var(--dark-blue-realty);
}

/* select */
.custom-select {
  font-weight: 400;
  /* color: #495057 !important; */
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  background-color: #fff;
  border-radius: 0.25rem;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

.no-bullet-list {
  list-style-type: none;
}

/* realty ------------------------------------------- */
.new-base-price:before {
  content: "$";
  font-size: 3.5rem;
}

.final-rent:before {
  content: "$";
  font-size: 3.5rem;
}

#page-title-header {
  font-variant: small-caps;
  font-size: 2rem;
  letter-spacing: 3px;
  color: var(--slate-gray) !important;
}